body {
  background-color: #A9A9A9;
}
 .content img{
   border-radius: 50%;
 }

.blabla{
  width: 80%;
  margin: auto;
}

.bonjour{
  margin: auto;
  display: flex;
  align-items: center;

}

ul{
  flex: 1;
  text-align: right;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family: verdana;
  color: white;
  padding: 0 10px;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 30px;
}

.banner{
  display: flex;
  margin-top: 80px;

}

.left-column, .right-column{
  flex-basis: 50%;
}

.left-column p{
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 30px;
}

span{
  color: #cc0066;
}

hr{
  height: 5px;
  background-color: white;
  border: none;
}

#sectionA {
    float: left;
    width: 50%;
}

#sectionB {
    float: left;
    width: 50%;
}

.login-box{
  color: white;
  font-family: verdana;
  font-size: 20px;
}

.bonjour{
  margin: auto;
  display: flex;
  align-items: center;

}

ul{
  flex: 1;
  text-align: center;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family: verdana;
  color: white;
  padding: 0 50px;
}

.content ul li {

    display: flex;
    list-style: none;
    margin: auto;
}

.physical h3{
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 30px;

}
.physical img{
  float: right;
  margin: auto;
}

ol{
  flex: 1;
  text-align: left;
}

ol li{
  color: white;
  float: none;
  font: verdana;
  font-size: 30px;
  margin: 0 50px;
}
